/* body */

/* background */

body{
  background-color: #F1F1F3;
  margin: 160px;
}

/* Fira sans font */

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

   /* nav styles */

   nav{
    display: flex;
    justify-content: space-between;
   }

   .nav-title{
    color: #0E0E0E;
    font-size: 25px;
   }

   .nav-btn{
    color: #006A50;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: bold;
    border-color: #006A50;
    background-color: #F5F5F5;
    font-size: 18px;
    max-width: 116px;
    max-height: 52px;
    cursor: pointer;
   }

   /* Button */

   .btn-des{
    background-color: #006A50;
    padding: 17px 34px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   }

   /* Banner styles */

   .banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 25px;
   }

   .banner-title{
    color: rgba(14, 14, 14, 0.5)
   }
   
   .banner-description{
    font-weight: bold;
    font-size: 56px;
   }
  
   /*cards section styles */

   .title{
    font-size: 40px;
   }

   .cards-container{
    padding: 24px;
    line-height: 24px;
    gap: 24px;
    display: flex;
    padding: 24px;
   }

   /* pillars styles */

   .Pillars{
    text-align:left;
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 16px;
    border-color: rgba(14, 14, 14, 0.5);
    padding: 24px;
    max-width: 302px;
    max-height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
   }

   .pillar-title{
    border-radius: 16px;
    border-color: #0E0E0E;
    background-color: #FFFFFF;
    padding-top: 8px;
    font-size: 20px;
   }

   .card-des{
    font-size: 16px;
   }

   /* Vision section styles */
   
   .vision-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
   }

   .card{
    flex: 1;
    border-radius: 16px;
    padding: 32px;
    text-align:left;
    justify-content: space-between;
    max-width: 411px;
    max-height: 325px;
   }
    
   .vsn-title{
    font-weight: bold;
    font-size: 20px;
   }

  .vsn-des {
    font-size: 16px;
    line-height: 24px;
    color:rgba(14, 14, 14, 0.7) ;
    padding-top: 12px;
  }

  .intro{
    font-size: 16px;
    line-height: 24px;
    color:rgba(14, 14, 14, 0.7) ;
  }
    
  .blue{
    background-color:rgba(84, 144, 245, 0.2) ;
  }

  .green{
    background-color: rgba(198, 228, 214, 1);
  }

  .yellow{
    background-color:rgba(247, 235, 207, 1) ;
  }

  .button{
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .blue-btn{
    background-color: #5490F5;
    padding: 20px;
  }

  .green-btn{
    background-color: #09A15C;
    padding: 20px;
  }

  .yellow-btn{
    background-color: #FFC239;
    padding: 20px;
  }

 /* Button colors  */

 /* Quote design */

 .section3{
  padding: 48px 24px;
  border-color: rgba(14, 14, 14, 0.15);
  border-radius:16px ;
  border-color: rgba(14, 14, 14, 0.5);
  background-color: #FFFFFF;
  background-size:60%;
  border: 1px solid rgba(14, 14, 14, 0.15);
 }

 .quote .quote-text{
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
 }

 .name{
  font-size: 20px;
  font-weight: 600;
 }

 .back-img{
  top: 20px;
  left: 20px;

 }

 /* Opinion table style */

 table{
  background-color: #FFFFFF;
  border-radius: 16px;
  text-align: center;
  width: 80%;
  max-width: 1280px;
  max-height: 408px;
  justify-content:space-between;
 }

 .table-head{
  height: 72px;
  width: 1216px;
  font-size: 20px;
  background-color:#C6E4D6 ;
  padding: 24px 24px;
 }

 td{
  border-collapse: collapse;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  border-color: rgba(14, 14, 14, 0.15);
 }

.tbl-btn{
  padding:12.5 px ;
  font-weight:500 ;
  cursor:pointer;
  background-color: #C6E4D6;
}

/* Recent news styles */

.rcnt-news-des{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.news-content {
  padding: 48px;
  background-color: #FFFFFF;
  margin-bottom:24px ;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.rcnt-img{
  display: inline;
}

.news-des {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.date-time{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.news-container{
align-items: center;
border-radius: 10px;
padding: 20px;
margin: 20px auto;
width: 80;
max-width: 1280px;
}

.read-more {
  background-color: #006A50;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 13px 26px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.satellite {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}

.al-jazeera{
  max-width: 134px;
  max-height: 40px;
}

.box-one{
margin-left: 32px;
}

.box-two{
margin-right: 32px;
}

/* Donate Section */

.donate{
text-align: center;
justify-content: center;
align-items: center;
}

.donate-opt{
display: flex;
justify-content:center;
margin-bottom: 32px;
}

.donation-btn {
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 24px;
  margin-top: 32px;
 }

/* .selected{
  background-color: rgba(198, 228, 214, 1);
} */

.other-amnt{
 width: 1032px;
 height: 64px;
 text-align: center;
 font-size: 20px;
 border: none;
 color: rgba(14, 14, 14, 0.3);
 margin: 20px;
}

.donation-btn:hover{
  background: rgba(198, 228, 214, 1);
}

/* subscribe section */

.subscribe{
  background-color:#C6E4D6 ;
  padding: 100px 80px;
  border-radius:  24px ;
  display: flex;
  align-items: center;
  margin-top:  80px;
  max-width: 1280px;
  max-height: 250px;
}


.sub-container{
  align-items: center;
  text-align: center;
  padding: 80px 265px;
}

.sub-title{
  text-align: center;
}

.sub-content{
  margin-bottom: 20px;
}
.input-email{
  display: inline;
}

.sub-email{

  border: none;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;

}

.sub-btn{
  margin-left: none;
  border-radius: 0px 8px 8px 0px;
  
}

/* footer design */

.end-section{
  background-color: #FFFFFF ;
  margin: none;
  padding: 50px;
  text-align: center;
  border-spacing: 1px solid rgba(14, 14, 14, 0.15);
  margin-top: 32px;
}